ODOO_USER=odoo
ODOO_GROUP=odoo
ODOO_HOME=/opt/odoo
ODOO_CORE_GIT_URL=https://github.com/odoo/odoo.git
ODOO_CORE_REF=18.0
ODOO_CORE_PATH=/opt/odoo/odoo
ODOO_VENV_PATH=/opt/odoo/venv

ADDONS_SOURCE_REPO=
ADDONS_TARGET_REPO=/opt/odoo/custom-addons/openeducat_erp

ODOO_CONF_PATH=/etc/odoo/odoo.conf
ODOO_LOG_DIR=/var/log/odoo
ODOO_LOGFILE=/var/log/odoo/odoo.log
ODOO_DATA_DIR=/var/lib/odoo

ODOO_ADMIN_PASSWORD=CHANGE_ME
ODOO_DB_HOST=127.0.0.1
ODOO_DB_PORT=5432
ODOO_DB_USER=odoo
ODOO_DB_PASSWORD=CHANGE_ME
ODOO_DB_NAME=openeducat_prod
ODOO_CREATE_APP_DATABASE=0

ODOO_LIST_DB=True
ODOO_DB_FILTER=
ODOO_PROXY_MODE=True
ODOO_HTTP_INTERFACE=127.0.0.1
ODOO_HTTP_PORT=8069
ODOO_LONGPOLLING_PORT=8072
ODOO_WORKERS=4
ODOO_MAX_CRON_THREADS=2

PUBLIC_HOSTNAME=_
NGINX_SITE_NAME=openeducat
NGINX_CLIENT_MAX_BODY_SIZE=64m
DISABLE_NGINX_DEFAULT_SITE=1

INSTALL_WKHTMLTOPDF=1
APT_PACKAGES_EXTRA=

INSTALL_DR_UNITS=1
INSTALL_DR_ENV=1
DR_ENV_PATH=/etc/openeducat/backup.env
DR_BACKUP_ROOT=/var/backups/openeducat
DR_BACKUP_SET_RETENTION=14
DR_BACKUP_MAX_AGE_HOURS=26
DR_RESTORE_DRILL_MAX_AGE_DAYS=
DR_DISK_WARN_PERCENT=80
DR_DISK_CRIT_PERCENT=90
DR_RESTORE_PGHOST=CHANGE_ME
DR_RESTORE_PGPORT=5432
DR_RESTORE_PGUSER=avnadmin
DR_RESTORE_PGPASSWORD=CHANGE_ME
DR_RESTORE_PGSSLMODE=require
DR_RESTORE_ADMIN_DB=postgres
DR_RESTORE_TARGET_DB_PREFIX=dr_
DR_RESTORE_TARGET_DB_SUFFIX=
DR_RESTORE_FILESTORE_ROOT=/srv/openeducat-dr/filestore
DR_PRIMARY_PUBLIC_HOST=
DR_PRIMARY_PUBLIC_PORT=5432
DR_REPLICATION_USER=aiven_repl
DR_REPLICATION_PASSWORD=CHANGE_ME
DR_ENABLE_BACKUP_TIMER=0
DR_ENABLE_BACKUP_HEALTH_TIMER=0
DR_ENABLE_RESTORE_DRILL_TIMER=0
DR_ENABLE_CLOUDINARY_TIMERS=0
DR_ENABLE_STAGE2_TIMERS=0
