[Unit]
Description=OpenEduCat Odoo application service
After=network.target postgresql.service
Wants=postgresql.service

[Service]
Type=simple
User=@@ODOO_USER@@
Group=@@ODOO_GROUP@@
WorkingDirectory=@@ODOO_CORE_PATH@@
ExecStart=@@ODOO_VENV_PATH@@/bin/python3 @@ODOO_CORE_PATH@@/odoo-bin -c @@ODOO_CONF_PATH@@
Restart=always
RestartSec=5
KillSignal=SIGQUIT
TimeoutStopSec=120
PrivateTmp=true
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
